.contenedor-main {
    .contenedor-info {
        display: flex;
        width: auto;
        margin: 1rem;
        img {
            width: 40vw;
        }
        .titulo-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60vw;
            h2 {
                text-transform: uppercase;
            }
            p {
                color: $color-header;
                font-size: 1.3rem;
            }
        }
    }
    .contenedor-ubicacion {
        .ubicacion {
            margin: 0px 1rem;
            height: 30vh;
        }
        .titulo-ubicacion {
            text-align: center;
        }
    }

    .contenedor-productos {
        display: none;
        position: fixed;
        background-color: white;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;

        .cont-categoria {
            display: flex;
            justify-content: space-between;
            background-color: $color-header;
            padding: 1rem 0.5rem;
            box-shadow: 0px 9px 12px -1px rgba(0, 0, 0, 0.1);
            h2 {
                font-weight: bold;
                font-size: 2rem;
                color: white;
            }
            .btn-cerrar-categoria {
                color: white;
                background-color: transparent;
                border: none;
                font-size: 1.3rem;
            }
        }

        .cont-productos {
            .card-producto {
                margin: 2rem 1rem;
                padding-bottom: 2rem;
                border-bottom: 2px solid #80808017;
                .card-img {
                    border-radius: 20px;
                    width: 100%;
                    height: 20rem;
                }
                .card-titulo {
                    color: $color-header;
                    padding-bottom:0.5rem;
                }
                p {
                    font-weight: bold;
                    padding-bottom:0.5rem;
                    font-size: 1.3rem;
                }
                div {
                    height: 2rem;
                    input {
                        height: 100%;
                        appearance: textfield;
                        width: 8%;
                        text-align: center;
                    }
                    button {
                        height: 100%;
                        color: white;
                        background-color: #da809a;
                        border: none;
                        padding: 0 0.5rem;
                        width: 30%;
                    }
                }
                
            }
        }
    }

    .cont-principal-categorias {
        .card-categoria {
            background-color: #da809a;
            padding: 1rem;
            margin: 2.5rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 17px;
            h2 {
                // background-color: white;
                border: none;
                margin: 1rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                padding: 0.5rem;
                border-radius: 10px;
                text-align: center;
                width: 100%;
            }
            img {
                width: 100%;
                height: 20rem;
            }
            button {
                background-color: white;
                border: none;
                margin: 1rem;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: bold;
                color: #da809a;
                width: 30%;
                padding: 0.5rem;
                border-radius: 10px;
            }
        }
    }  
}

.card-carrito {
    .card-img-carrito {
        width: 5rem;
        height: 5rem;
    }
}

.contenido-carrito {
    overflow-y: auto;
}

